/*
1. Position
2. Model Box
3. Fonts
4. Visuals
5. Others
*/

:root{
    /*Colors*/
    --uff-green: #0EEDB7;
    --uff-orange: #FFDCB2;
    --uff-pink: #FFB8DF;
    --black: #000000;
    --grey-text: #9D9D9D;
    --off-white: #f5f5f5;
    --white: #FFFFFF;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

header{
    width: 100vw;
    height: 100px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    position: fixed;
}

header .header-icons-container{
    width: 100%;
    height: 65px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.nav-logo img{
    width: 50px;
    height: 50px;
    padding-left: 20px;
}

.nav-cart{
    display: inline-block;
    justify-self: flex-end;
    padding-right: 20px;
}

header .nav-menu-container{
    width: 100%;
    height: 35px;
    display: grid;
    grid-template-columns: minmax(250px, 500px);
    justify-content: center;
}

header .nav-menu-container .menu{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    font-size: 1.7rem;
    color: var(--black);
}

.main-area{
    width: 100%;
    min-height: 750px;
    justify-content: center;
    background-color: var(--off-white);
    padding-top: 100px;
    padding-bottom: 50px;
}

.main-area .main-area--container{
    width: 95%;
    margin: 0 auto; 
    justify-content: center;
    padding: 10px auto;
}

.tamal-title{
    padding: 15px 5px;
}

.tamal-title h2{
    margin: 0;
    font-size: 2.3rem;
    padding-bottom: 5px;
    letter-spacing: 0.2rem;
}

.tamal-title p{
    width: 100%;
    margin: 0;
    padding: 10px auto;
    font-size: 1.6rem;
    color: var(--grey-text);
}

.grid-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, 169px);
    grid-gap: 10px 3px;
    justify-content: space-evenly;
    border-radius: 5px;
}

.grid-cards button{
    width: 90%;
    height: 28px;
    box-shadow: none;
    border-style: none;
    border-radius: 5px;
    background-color: var(--uff-green);
    color: white;
}

.tamal-card{
    width: 100%;
    background-color: white;
}

.photo img{
    width: 169px;
    height: 169px;
    object-fit: cover;
    background-color: white;
}

.description{
    height: 80px;
    background-color: white;
    padding: 10px 5px;
}

.price{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: white;
}

.price p{
    font-size: 1.6rem;
    font-weight: 700;
    padding-left: 1rem;
}

footer{
    width: 100vw;
    height: 80px;
    display: grid;
    grid-template-rows: 55% 45%;
    align-items: center;
    justify-items: center;
}


footer .carrito-container{
    color: white;
    width: 100%;
    height: 100%;
    background-color: var(--uff-green);
    padding-top: 15px;
    padding-bottom: -10px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
